{% extends "tracker/base.html" %}
{% load mathfilters %}
{% load tracker_extras %}
{% block content %}
    {% for measurement in measurement_list %}
        <div class="row justify-content-center ms-3 me-3">
            <div class="card mb-3 p-0 shadow-sm col-sm-12 col-md-8">
                <div class="card-body">
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <h5 class="card-title pb-1">{{ measurement.pub_date|date:"F d, Y" }}</h5>
                        <div class="d-flex">
                            <div class="me-2">
                                <a href="{% url 'tracker:measurement-update' measurement.id %}">
                                    <button type="button" class="btn btn-sm btn-warning">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                        <span>Edit</span>
                                    </button>
                                </a>
                            </div>
                            <div>
                                <a href="{% url 'tracker:measurement-delete' measurement.id %}">
                                    <button type="button" class="btn btn-sm btn-danger">
                                        <i class="fa-solid fa-trash"></i>
                                        <span>Delete</span>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for name, v_name, value in measurement.get_value_fields %}
                            {% if measurement_types_visibility|get_value:name %}
                                <li class="list-group-item">
                                    <div>{{ v_name }}</div>
                                    <div class="d-flex justify-content-between">
                                        {% if name == "weight" %}
                                            <div>{{ value }} kg</div>
                                        {% else %}
                                            <div>{{ value }} cm</div>
                                        {% endif %}
                                        {% with attr_diff=measurement|get_measurement_attr_diff:name %}
                                            {% if attr_diff %}
                                                <div>
                                                    <span>{{ attr_diff|abs }}</span>
                                                    {% if attr_diff > 0 %}
                                                        <i class="bi bi-arrow-up-circle ms-1 text-danger"></i>
                                                    {% else %}
                                                        <i class="bi bi-arrow-down-circle ms-1 text-success"></i>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        {% endwith %}
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content%}