{% extends "tracker/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row justify-content-center ms-3 me-3">
        <div class="card mb-3 p-0 shadow-sm col-sm-12 col-md-8">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Delete measurements</legend>
                        <h5>Are you sure you want to delete the measurement from {{ measurement.pub_date|date:"F d, Y" }}?</h5>
                    </fieldset>
                    <div class="input-group my-4">
                        <button type="submit" class="btn btn-danger me-2">
                            Yes, Delete
                        </button>
                        {% if previous_url == 'tracker:history' %}
                            <a class="btn btn-secondary" href="{% url 'tracker:history' %}">
                                Cancel
                            </a>
                        {% else %}
                            <a class="btn btn-secondary" href="{% url 'tracker:measurement-detail' object.id %}">
                                Cancel
                            </a>
                        {% endif %}

                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content%}