{% extends "tracker/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="my-5">
        <div class="card shadow-sm col-8 offset-2 col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">My profile</h6>
            </div>
            <div class="card-body d-flex flex-column">
                <div class="d-flex mb-4">
                    <img class="rounded-circle account-img me-4 mb-3" src="{{ user.profile.image.url }}">
                    <div>
                        <h2 class="account-heading">{{ user.username }}</h2>
                        <p class="text-secondary">{{ user.email }}</p>
                    </div>
                </div>
                <div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset>
                            <legend class="border-bottom mb-4">Edit Profile</legend>
                            {{ user_form|crispy }}
                            {{ profile_form|crispy }}
                        </fieldset>
                        <div class="input-group mb-2">
                            <button type="submit" class="btn btn-outline-info">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <div>
{% endblock content%}